body {
  background-image: url('./images/wild_oliva.png');
}

.row {
  margin: 0;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  width: 100%;
}

.content {
  flex: 1 0 auto;
}

/***** LANDING *****/

.landingWrapper {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  /* align-content: center; */
  margin-top: 0;
  /* background: rgba(255, 255, 255, 0.4); */
}

.landingLogo img {
  background-image: url('./images/topography.png');

  /* background: rgba(255, 255, 255, 0.4); */
  padding: 35px 25px 20px 25px;
  margin-bottom: 50px;
  /* border-radius: 25px; */
  width: 100%;
}

.landingText {
  width: 70%;
  color: #dddddd;
  font-size: 15pt;
  margin: 0 auto;
}

.landingLinksWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.landingDiv {
  height: 100px;
  width: 100px;
  margin: 50px 30px 30px 30px;
  border-radius: 50px;
  background: rgba(173, 255, 47, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.landingLink:hover {
  text-decoration: none;
}

.landingLink div:hover {
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.6);
}

.landingDivTitle {
  font-size: 14pt;
  text-align: center;
  color: #fff;
}

/***** HEADER & NAVBAR *****/

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  /* margin-bottom: 25px; */
  padding: 15px 20px;
  box-shadow: 0 0.5px 20px black;
  width: 100%;
  background-image: url('./images/topography.png');
}

.logoDiv {
  margin: 0 25px 20px 26px;
}

.logo {
  margin-top: 10px;
  width: 280px;
}

.navBar {
  margin: 0 25px 10px 25px;
}

ul {
  padding-left: 0;
}

.navBar li {
  float: left;
  list-style: none;
}

.link {
  font-size: 11pt;
  color: rgb(68, 68, 68);
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
}

.link:hover {
  text-decoration: none;
  font-weight: 500;
  color: black;
  background: rgba(175, 175, 175, 0.4);
  box-shadow: 2px 3px 5px #888888;
}

/***** PORTFOLIO - MAIN *****/
.portfolioMainWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolioMainDiv {
  height: 400px;
  width: 200px;
  margin: 25px;
  background: rgba(0, 0, 0, 0.4);
}

.portfolioMainDivTitle {
  text-align: center;
  color: #dddddd;
}


/***** PORTFOLIO - Web Development *****/

.pageTitle {
  color: #fff;
  border-bottom: solid 2px greenyellow;
  width: 75%;
  margin: 0 auto;
  margin-top: 25px;
}

.pageSubTitle {
  font-size: 12pt;
  color: #fff;
  width: 75%;
  margin: 0 auto;
  margin-top: 5px;

}

.projectSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  width: 200px;
  margin: 15px;
  text-align: center;
}

.projectLink {
  border-bottom: solid 1px rgba(0, 0, 0, 0);
}

.projectLink a:hover {
  text-decoration: none;
}

.projectLink:hover {
  border-bottom: solid 1px greenyellow;
}

.projectImage img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin: 10px;
}

.title {
  color: #fff;
  font-weight: bold;
}

.info {
  color: rgb(219, 219, 219);
  font-weight: 100;
}

.jumbotron {
  /* height: 200px; */
  /* padding-top: 75px;  */
  text-align: center;
  background-image: url('./images/topography.png');
  /* background-size: cover;  */
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* list-style: none; */
}

.skills li {
  list-style: none;
  margin: 5px;
}


/***** ABOUT Page  *****/

.profilePic img{
  margin: 10px 10px 25px 10px;
  border-radius: 100px;
}

.aboutText {
  color: #fff;
}
.aboutSection {
  margin: 0 auto;
  margin-top: 20px;
  width: 85%;
}

.aboutEdSection {
  background: rgba(175, 175, 175, 0.3);
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 75%;
}

.aboutSubTitle {
  color: #fff;
  font-size: 18pt;
  border-bottom: solid 1px greenyellow;
  margin: 0 auto;
  
  padding: 35px 0 5px 0;
}

.aboutEduDate {
  color: #dddddd;
  font-style: italic;
  font-size: 11pt;
  margin-top: 5px;
}

.card-body {
  padding: 20px 50px;
}

.aboutExperienceJob {
  color: black;
  font-size: 14pt;
  border-bottom: solid 1px greenyellow;
  margin: 0 auto;
  padding: 20px 0 5px 0;
}

.aboutExperienceDate {
  color: #888888;
  font-style: italic;
  font-size: 10pt;
  margin-left: 5px;
  margin-bottom: 0;
}

.aboutExperienceRole {
  color: #888888;
  font-size: 12pt;
  margin-top: 5px;
}

.aboutWebContent {
  margin-top: 20px;
}

.card {
  /* background: rgba(255, 255, 255, 0.7); */
  /* background: none; */
  background-image: url('./images/topography.png');
  border: none;
}

/* .card {
  border: none;
  margin: 0;
} */


/***** CONTACT *****/

.icon img{
  padding: 10px;
  border-bottom: solid 1px greenyellow;
}


/***** FOOTER *****/

.footer {
  flex-shrink: 0;
  /* clear: both; */
  background: black;
  /* margin-top: auto; */
  padding: 5px 0;
  color: #dddddd;
  text-align: center;
  font-size: 12px;
  border-radius: 5px 5px 0 0;
}

.footerLinks {
  margin-top: 15px;
}

.footerLink {
  color: #888888;
  margin: 0 10px;
}

.footerLink:hover {
  color: #fff;
}

.footer p {
  margin-top: 15px;
  margin-bottom: 5px;
}



/***** Responsive Adjustments *****/

@media only screen and (min-width: 660px) {
  header {
    justify-content: space-between;
  }

  .landingWrapper {
    margin-top: 150px;
  }

  .landingLogo img {
    margin-bottom: 25px;
    padding: 35px 25px;
    /* border-radius: 25px; */
    width: 65%;
  }

  .landingText {
    font-size: 13pt;
    width: 50%;
  }

  .landingDiv {
    margin: 30px;
  }
  
}